body {
  background-color: cyan;
}
.h1 {
  font-weight: bold;
  font-size: xx-large;
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 20px;
  border-style: outset;
  border-color: orange;
  border-width: 2px;
}
.h3 {
  font-size: larger;
  font-weight: bold;
  color: red;
  margin-left: 2px;
  margin-top: 20px;
}
